/*body color*/
body {
    background-color: lightblue;
}

/*header 1 text*/
h1 {
    color: navy;
    /*margin-left: 500px;*/
    text-align: center;
    font-size: 2cm;
    display: block;
}

/*header 3 text*/
h3 {
    color: blueviolet;
    text-align: center;
    font-size: 8mm;
    text-decoration: underline dotted white;
}

/*header 4 text*/
h4 {
    color: purple;
    text-align: center;
    font-size: 0.25in;
    text-decoration: white wavy underline;
}

/*header 5 text*/
h5 {
    color: purple;
    font-size: 0.2in;
    width: auto;
    height: auto;
    text-decoration: underline white;
}

p {
    border: solid rebeccapurple;
    padding: .5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Box Model*/

.box1 {
    margin-top: -2%;
    margin-right: 5em;
    margin-left: 1em;
    margin-bottom: 2%;

    padding-top: -0.5%;
    padding-right: 5em;
    padding-left: 2em;
    padding-bottom: 0.5%;

    border-style: solid;
    border-color: violet;
    border-width: 0.2em;
    border-radius: 5em; 

    position: sticky;
    top: 20px;
}

.box2 {
    margin: -2% 5em 2% 1em;
    padding: -3% 5em 2% 2em;
    border: solid violet; 

    display: inline;
    position: static;
}

a {
    background-color: powderblue;
    transition: background-color 0.5s;
}
  
a:hover {
    background-color: gold;
}

a:active {
    color: red;
}

.flex {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-flow: column-reverse;
}

.grid {
    display: grid;
    grid-area: auto;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
}

@media (min-width: 1250px)  {
    p {
        font-size: x-small;
    }
    h1, h3, h5, h4 {
        font-size: medium;
    }
}

@font-face {
    font-family: "Ubuntu', sans-serif";
    src: url("https://fonts.google.com/specimen/Ubuntu");
  }